%tr.gradeA
  %td
    = expenses.description 
  %td
    = expenses.maxdate
  %td
    = expenses.name  
  %td
    = number_with_precision(expenses.value, :precision => 2)
    €
  %td
    = expenses.anzahl    
  %td.right
    = number_with_precision(expenses.totalvalue, :precision => 2)
    €
 
 	
