%tr.gradeA
  %td
    = expenses.description 
  %td
    = expenses.date
  %td
    - if expenses.till.nil?
      = t('finances.index.today')
    - else
      = expenses.till
  %td
    = expenses.name  
  %td
    = number_with_precision(expenses.value, :precision => 2)
    €
  %td.right
    = number_with_precision(expenses.sumvalues, :precision => 2)
    €
