%tr.gradeA
  %td
    - if monthlyrevenues.description == "" || monthlyrevenues.description.nil?
      = t('finances.index.anonymous')
    - else
      = monthlyrevenues.description 	  
  %td
    = monthlyrevenues.date
  %td
    - if monthlyrevenues.till.nil?
      = t('finances.index.today')
    - else
      = monthlyrevenues.till
  %td
    = number_with_precision(monthlyrevenues.value, :precision => 2)
    €
  %td.right
    = number_with_precision(monthlyrevenues.sumvalues, :precision => 2)
    €
