:css
  @import "/custom/finances/style.css";
%script{:language => "javascript", :src => "javascripts/jquery.js", :type => "text/javascript"}
%script{:language => "javascript", :src => "/custom/finances/wz_tooltip.js", :type => "text/javascript"}
:javascript
      (function() {
          var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
          s.type = 'text/javascript';
          s.async = true;
          s.src = 'https://api.flattr.com/js/0.6/load.js?mode=auto';
          t.parentNode.insertBefore(s, t);
      })();
.content
  %br
  %h1
    = t('.donate_information')
  %p
    = t('.transact')
  %br
  %ul.possibilitys
    %li
      %h3.possibility{:onmouseout => "UnTip()", :onmouseover => "Tip('#{t('.transaction_desc')}')"}
        = t('.transaction')
      %p
        = t('.account_holder')
        Lennart Prelle
        %br
        IBAN: DE28700222000072363388 
        %br
        BIC: FDDODEMMXXX
    %li
      %h3.possibility{:onmouseout => "UnTip()", :onmouseover => "Tip('#{t('.flattr_desc')}')"}
        Flattr:
      %a.FlattrButton{:href => "https://despora.de", :style => "display:none;"}
    %li
      %h3.possibility{:onmouseout => "UnTip()", :onmouseover => "Tip('#{t('.paypal_desc')}')"}
        Paypal:
      %a{:href => "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7GJM7KZZKZHPG"}
        %img{:alt => "", :border => "0", :src => "https://www.paypal.com/en_US/i/btn/x-click-but04.gif"}
  .clearit
  %ul.possibilitys  
    %li.amazon
      %h3.possibility{:onmouseout => "UnTip()", :onmouseover => "Tip('#{t('.amazon-affiliate_desc')}')"}
        = "#{t('.amazon-affiliate')}:"
      = t('.amazon-affiliate_info')
      %a{:href => "http://www.amazon.de/?_encoding=UTF8&site-redirect=de&tag=despora-21&linkCode=ur2&camp=1638&creative=19454", :target => "_blank"} http://amazon.de
    %li
      %h3 Bitcoins:
      <code>1JuNdqfNhuw89ZZ7iXo7zS5vbVSqPD9y9M</code>
      %p
        %a{:href => "https://despora.de/qr_bitcoin.png", :target => "_blank"} QR-Code
  .clearit
  %br
  %p
    = t('.decide', :strong_purpose => content_tag(:strong, t('.strong_purpose'))).html_safe
    = t('.no_data')