:css
  @import "/custom/finances/style.css";
  @import "/custom/finances/demo_tables.css";
%script{:language => "javascript", :src => "javascripts/jquery.js", :type => "text/javascript"}
%script{:language => "javascript", :src => "/custom/finances/jquery.dataTables.min.js", :type => "text/javascript"}
:javascript
  /*  */
      (function() {
          var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
          s.type = 'text/javascript';
          s.async = true;
          s.src = 'https://api.flattr.com/js/0.6/load.js?mode=auto';
          t.parentNode.insertBefore(s, t);
      })();
  /*  */ 
%script{:charset => "utf-8", :type => "text/javascript"}
  $(document).ready(function() {
  $('.dataTable').dataTable( {
  "aaSorting": [[ 1, "desc" ]]
  } );
  } );
.content
  %h1 
    = t('application.donate.donate_information')
  %p 
    = t('application.donate.site_information')
  %p
    = t('application.donate.transact')
  %br
  %ul.possibilitys
    %li
      %h3
        = t('application.donate.transaction')      
      %p
        = t('application.donate.account_holder')
        Lennart Prelle
        %br
        = t('application.donate.ban')
        3001116684
        %br
        = t('application.donate.bank_code')
        24151005
        %br
        IBAN: DE27 2415 1005 1210 0556 44	
        %br
        BIC: NOLADE21STS 
    %li
      %h3 Flattr:
      %a.FlattrButton{:href => "https://despora.de", :style => "display:none;"}
    %li
      %h3 Paypal:
      %a{:href => "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7GJM7KZZKZHPG"}
        %img{:alt => "", :border => "0", :src => "https://www.paypal.com/en_US/i/btn/x-click-but04.gif"}
  .clearit
  %p
    = t('application.donate.decide', :strong_purpose => content_tag(:strong, t('application.donate.strong_purpose'))).html_safe
    = t('application.donate.no_data')
  %br
  %table{:border => "0", :style => "width:300px;"}
    %tr
      %th{:align => "left", :valign => "top", :width => "200"}
      %th{:align => "left", :valign => "top", :width => "100"}
    %tr
      %td{:valign => "top"}
        %h2
          = t('application.donate.expenses')
      %td{:valign => "top"}
        %h2= "#{number_with_precision(@sum_expenses, :precision => 2)}€";
    %tr
      %td{:valign => "top"}
        %h2
          = t('application.donate.revenues')
      %td{:valign => "top"}
        %h2= "#{number_with_precision(@sum_revenues, :precision => 2)}€";
  %br
  %h3
    = t('application.donate.expenses')
  #container
    %table.display.dataTable{:border => "0", :cellspacing => "0"}
      %colgroup
        %col{:width => "600"}
        %col{:width => "80"}     
        %col{:width => "150"}  
      %thead
        %tr
          %th
            = t('application.donate.name')
          %th
            = t('application.donate.date')
          %th
            = t('application.donate.value')
      %tbody
        = render :partial => "datatable", :collection => @expenses

  %br
  %br
  %br
  %br
  %h3
    = t('application.donate.one_time_revenues')
  #container
    %table.display.dataTable{:border => "0", :cellspacing => "0"}
      %colgroup
        %col{:width => "600"}
        %col{:width => "80"}
        %col{:width => "80"}        
        %col{:width => "150"}  
      %thead
        %tr
          %th
            = t('application.donate.name')          
          %th
            = t('application.donate.date')
          %th
            = t('application.donate.type')           
          %th
            = t('application.donate.value')
      %tbody
        = render :partial => "onetimerevenues", :collection => @onetime_revenues
    
  %br
  %br
  %br
  %br
  %h3
    = t('application.donate.monthly_revenues')
  #container
    %table.display.dataTable{:border => "0", :cellspacing => "0"}
      %colgroup
        %col{:width => "600"}
        %col{:width => "80"}
        %col{:width => "80"}        
        %col{:width => "150"}        
      %thead
        %tr
          %th
            = t('application.donate.name')
          %th
            = t('application.donate.since')
          %th
            = t('application.donate.quantity')
          %th
            = t('application.donate.totalamount')
      %tbody
        = render :partial => "monthlyrevenues", :collection => @monthly_revenues 

