= t('finances.index.current_value')
- if effective_expenses <= 50
  = number_with_precision(effective_expenses, :precision => 2)
  €
  #{" :-["}
  = link_to t('finances.index.help_out'), '/finances'
- if effective_expenses > 50
  = number_with_precision(effective_expenses, :precision => 2)
  €
  #{" :-]"}
  = link_to t('finances.index.donatehere'), '/finances'
