%html
  %head
    %link{:href => "custom/splashpage/splashpage.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "custom/splashpage/splashpage.js", :type => "text/javascript"}
  %body
    :css
      div.right {float:right;}
    #container
      #banner.row{:role => "header"}      
        #controls{:style => "float:right;margin-right:20px;"}
          %a{:style => "margin: 5px;", :href => "https://github.com/prellele/diaspora"}
            %span.label.label-inverse{:title => "Visit our Repository"}
              %img.twitter-bird{:height => "20", :src => "https://d3mbmfe8268ud7.cloudfront.net/landing/home_git@2x.png", :width => "20"}/
          %a{:style => "margin: 5px;", :href => "https://twitter.com/despora_de"}
            %span.label.label-inverse{:title => "Follow @despora_de on Twitter"}
              %img.twitter-bird{:height => "20", :src => "https://d3mbmfe8268ud7.cloudfront.net/landing/home_twit@2x.png", :width => "20"}/
          %a{:style => "margin: 5px;", :href => "users/sign_up"}
            %span.label.label-inverse
              = t('.sign_up')
    #wrapper
      .login
        %h1
          = t('home.show.sign_in')
        = form_for(User.new, :as => :user, :url => session_path(:user)) do |f|

          %p
            = f.label :username , t('username')
            = f.text_field :username, :tabindex => 1, :value => prefilled_username, :placeholder => t('username')

          %p
            = f.label :password , t('password')
            = f.password_field :password, :tabindex => 2, :placeholder => t('password')

            = link_to t('home.show.forgot_password'), new_user_password_path, :id => "forgot_password_link", :tabindex => 5

          %p.submit
            = f.submit t('home.show.sign_in'), :tabindex => 4
        %div#right_text
          = t('home.show.no_account')
          %a{:href => "/users/sign_up", :tabindex => "6"}
            = t('home.show.sign_up')
      .dhtmlgoodies_question
        %h1
          = t('home.show.why_despora')
      .dhtmlgoodies_answer
        %div
          %p
            = t('home.show.despora_desc1')
            %br
            = t('home.show.despora_desc2')
            %br
            = t('home.show.despora_desc3')    
      .dhtmlgoodies_question
        %h1 FAQ
      .dhtmlgoodies_answer
        %div
          %p
            Wiki / Github (English)
            %a{:href => "https://github.com/diaspora/diaspora/wiki/FAQ-for-Users", :target => "_blank"} https://github.com/diaspora/diaspora/wiki/FAQ-for-Users
          %p
            Diaspora / Wikipedia (English)
            %a{:href => "http://en.wikipedia.org/wiki/Diaspora_(social_network)", :target => "_blank"} http://en.wikipedia.org/wiki/Diaspora_(social_network)
          %p
            Diaspora / Wikipedia (German)
            %a{:href => "http://de.wikipedia.org/wiki/Soziales_Netzwerk_(Internet)", :target => "_blank"} http://de.wikipedia.org/wiki/Soziales_Netzwerk_(Internet)
      %footer
        .container
          CC BY-SA Despora
          %ul#footer_nav
            %li= link_to t('impress.index.impress'), "/impress"
            %li= link_to t('finances.index.finances'), "/finances"
            %li= link_to 'Team', "https://despora.de/u/desporateam"
            %li= link_to '@despora', "http://twitter.com/despora_de"
            %li= link_to 'github', "https://github.com/prellele/diaspora"
            %li.separator= "|"
            %li= link_to(t('layouts.header.code'), "#{root_path.chomp('/')}/source.tar.gz", {:title => t('layouts.application.source_package')}) unless request.url.match(/joindiaspora.com/)
             
        
      :javascript
        //
          //
            initShowHideDivs();
          //
        //
