%html
  %head
  %body
    #container
    #landing
      #banner.row{:role => "header"}
        #controls
          %a{:href => "https://github.com/despora/diaspora/tree/despora"}
            %span.label.label-inverse{:title => "Visit our Repository"}
              %img.twitter-bird{:height => "20", :src => "https://d3mbmfe8268ud7.cloudfront.net/landing/home_git@2x.png", :width => "20"}/
          %a{:href => "https://twitter.com/despora_de"}
            %span.label.label-inverse{:title => "Follow @despora_de on Twitter"}
              %img.twitter-bird{:height => "20", :src => "https://d3mbmfe8268ud7.cloudfront.net/landing/home_twit@2x.png", :width => "20"}/
          %a{:href => "users/sign_in"}
            %span.label.label-inverse
              = t('.sign_in')
        .container
          %h1 Despora*
          %h3 
            = t('.title')
      .container
        #content.row
          #screens.span7
            #s_container
              %img{:alt => "landing", :src => "/custom/splashpage/landing.png"}/
          #sign_up.span5
            %h4
              = t('.join')
            %h2
              = t('.and_register')
            %form#new_user.form-horizontal.block-form{"accept-charset" => "UTF-8", :action => "/users", :autocomplete => "off", "data-validate" => "true", :method => "post", :novalidate => "novalidate"}
              %fieldset
                .control-group
                  %label.control-label{:for => "user_email"}
                    = t('registrations.new.email')
                  .controls
                    %input#user_email{"data-validate" => "true", :name => "user[email]", :placeholder => "luke@hoth.net", :required => "required", :size => "30", :title => t('registrations.new.enter_email'), :type => "email", :value => ""}/
                .control-group
                  %label.control-label{:for => "user_username"}
                    = t('registrations.new.username')
                  .controls
                    %input#user_username{"data-validate" => "true", :name => "user[username]", :pattern => "[A-Za-z0-9_]+", :placeholder => "jedi_guy", :required => "required", :size => "30", :title => t('registrations.new.enter_username'), :type => "text"}/
                .control-group
                  %label.control-label{:for => "user_password"}
                    = t('registrations.new.password')
                  .controls
                    %input#user_password{"data-validate" => "true", :name => "user[password]", :pattern => "......+", :placeholder => "••••••••", :required => "required", :size => "30", :title => t('registrations.new.enter_password'), :type => "password"}/
              %input.new-btn{:name => "commit", :type => "submit", :value => t('.sign_up')}/
      #footer
        ‌CC-BY-SA DESPORA 2012.
        %div{:style => "float:right;"}
          %a{:target => "_blank", :href => "http://www.flickr.com/photos/mukumbura/5038300265/", :style => "background-color:black;padding:5px;margin:5px;border-radius: 2px;"} "Light Spaghetti" by Mukumbura
